@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-frame {
  display: flex;
  align-items: center;
}

.loading-inner {
  margin: auto;
  display: flex;
  align-items: center;
}

.loading-icon {
  margin: 8px;
  padding: 8px;
  height: 45px;
}

.rotating {
  animation: rotation 2s infinite linear;
}

.search-container {
  position: fixed;
  top: 60px;
  background: white;
  box-shadow: 3px 3px 5px #888;
  width: 100%;
  margin-bottom: 16px;
}

.search {
  padding: 8px;
  width: 100%;
  height: 32px;
  border: 0px;
}

.empty-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.empty-inner {
  margin: auto;
  text-align: center;
}

.empty-icon {
  height: 64px;
  margin: 8px;
}

.userContainer {
  display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user-list-content {
  margin-top: 128px;
}

.retry {
  cursor: pointer;
}