
.menu {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.menu-item {
  color: #EEE;
  margin: 4px;
  cursor: pointer;
  text-decoration: none;
}

.menu-item-selected {
  color: #FFF;
  font-weight: bold;
  margin: 4px;
}