.user-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.user-details-modal-main {
  position: relative;
  background: white;
  max-width: 350px;
  width: 90%;
  height: auto;
  top:50%;
  left:50%;
  padding: 8px;
  transform: translate(-50%,-50%);
}

.user-detail-modal-close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
}

.user-details-modal-image {
  display: flex;
}

.user-details-modal-image img {
  width: 86px;
	height: 86px;
  object-fit: cover;
  margin: auto;
	border-radius: 50%;
}

.table {
  margin: 8px 16px;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 4px;
}

.col-title {
  width: 30%;
  font-weight: bold;
}

.col-data {
  width: 70%;
  text-align: left;
}

.table-title {
  font-weight: bold;
}