.user {
	display: flex;
	align-items: center;
  margin: 8px;
  box-shadow: 3px 3px 5px #BBB;
	padding: 8px;
	background: white;
	flex-direction: column;
	text-align: center;
}

.user-image img{
	width: 48px;
	height: 48px;
	object-fit: cover;
	border-radius: 50%;
}

.user-details {
	margin-left: 10px;
}

.user-name {
	font-weight: 900;
	font-size: 16px;
}

.user-email {
	font-weight: light;
	font-size: 13px;
}