:root {
	--primary-color: #0182FC;
}

body {
  background: #F4F4F4;
  font-family: Lato;
  color: #444;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}

.logo {
  height: 34px;
  margin: 13px;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--primary-color);
  box-shadow: 3px 3px 5px #AAA;
  position: fixed;
  top: 0;
  width: 100%;
}